#Maintenance Mode
ErrorDocument 503 /index.html
RewriteEngine On
#exclude IP
#RewriteCond %{REMOTE_ADDR} !^xxx.xxx.xxx.xxx$
RewriteCond %{REQUEST_URI} !^/503 [NC]
RewriteCond %{REQUEST_URI} !\.(jpe?g?|png|gif) [NC]
#Header always set Retry-After "3600"
#RewriteRule .* http://locahost/index.html [R=503,L]
